<%- include('partials/header.html') %>
<div class="se-pre-con"> </div>
<div class="text-center first">
    
        <h1>PAYMENT GATEWAY INTEGRATION </h1> <span><br><i class="fab fa-cc-visa fa-3x"></i></span><br>
        <br>
        <h6> Make secure and one click payment </h6>
</div>
<div class="third" >
    <div class="container text-center ">
        <a href = "/form"><button class="hvr-float-shadow hvr-overline-from-center glow-on-hover btn1 btn btn-lg btn-outline-danger ">PRESS ME </button></a> 
    </div>
</div>

<%- include('partials/footer.html') %>