/*#loader { 
  border: 12px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 12px solid #444444; 
  width: 70px; 
  height: 70px; 
  animation: spin 1s linear infinite; 
  transition-duration: 2s;
  animation-duration: 2s;
} 

@keyframes spin { 
  100% { 
      transform: rotate(360deg);
      transition: step-end;
  } 
} */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url('/simple-pre-loader/images/loader-128x/Preloader_1.gif') center no-repeat #ffff;
 
}
.center { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto; 
} 

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  
}
.second{
  padding: 100px;
  
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(29, 28, 28);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(29, 28, 28);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/*.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
 /*   -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }

  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */ 
  /*}
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
 /* }*/
  
.btn1{
   margin:50px;
   color: white;
  }
.third{
 margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid  rgb(194, 38, 72);
  box-sizing: border-box;
  box-shadow: 10px 16px 30px rgba(207, 93, 93, 0.63), 0 0 16px rgba(207, 76, 76, 0.603);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: plus-lighter;
    font-family: 'EB Garamond', serif;
  }
.first{
    text-align: right;
    background-color: rgb(194, 38, 72);
    height:100%;
    margin:2px;
    padding: 50px;
    background-image: url("https://i.pinimg.com/originals/0e/cd/83/0ecd8311059b2c9d2c5a74ef2c11ac07.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'EB Garamond', serif;
    
  }

  .firstblock{
		text-align:center;
		margin: 150px;
    padding: 50px;
    width :500px;
		height: 500px;
		margin-left: auto;
		margin-right: auto;
    font-family: 'EB Garamond', serif;
    

    border-radius: 4px;
    box-shadow: 10px 16px 30px rgba(207, 93, 93, 0.63), 0 0 16px rgba(207, 76, 76, 0.603);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: plus-lighter;
    background: #b35858;
    background: -webkit-linear-gradient(to right, #5d2661, #b35858);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b35858, #5d2661);

    bottom:-50px;
  left:0;
  animation-name:slide;
  animation-delay:0.5s;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  animation-timing-function:ease-in-out;

  }
  @keyframes slide{
    0%{bottom:-50px}
    100%{bottom:0;}
  }

    
  .firstblock:hover{
    border-color:  rgb(39, 41, 43);;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(207, 93, 93, 0.63), 0 0 6px rgba(207, 76, 76, 0.603);
 }
		