<%- include('partials/header.html') %>
<div class="se-pre-con"></div>
<div class="container firstblock">
    <h2 class="text-success">DONATION SUCCESSFULL</h2>
    <i class="text-success far fa-check-circle fa-4x"></i>
    <br><br>
    <h3 class="text-white">We count every single penny donated. Thankyou for donating your valuable money and helping poor and needy ones!!</h3>
    <br><br>
    <p class="lead text-white"><span class="text-danger">*</span> Please check email for invoice..</p>
</div>

<%- include('partials/footer.html') %>